-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, !!(@current_ratings.include?(rating) or @current_ratings.length == 0)
  = submit_tag 'Refresh'

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      - if @sorted == "title"
        %th.hilite= link_to "Movie Title", params.merge(:sorted => "title")
      - else
        %th= link_to "Movie Title", params.merge(:sorted => "title")
      %th Rating
      - if @sorted == "release_date"
        %th.hilite= link_to "Release Date", params.merge(:sorted => "release_date")
      - else
        %th= link_to "Release Date", params.merge(:sorted => "release_date")
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
