-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      - if @sorted == "title"
        %th.hilite= link_to "Movie Title", params.merge(:sorted => "title")
      - else
        %th= link_to "Movie Title", params.merge(:sorted => "title")
      %th Rating
      - if @sorted == "release_date"
        %th.hilite= link_to "Release Date", params.merge(:sorted => "release_date")
      - else
        %th= link_to "Release Date", params.merge(:sorted => "release_date")
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
